<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ assembly name="System.Text.Json" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ assembly name="System.Memory" #>
<#@ import namespace="System.Text.Json" #>
<#@ import namespace="System.Text.Json.Nodes" #>
<#@ output extension=".cs" #>
<#
    string inputFileName = this.Host.ResolvePath($"../Data/AuthorizableActions.json");
    string inputContent = File.ReadAllText(inputFileName);
    var jsonObjects = JsonNode.Parse(inputContent)!;
#>
using FoundationaLLM.Common.Constants.Authorization;
using System.Collections.ObjectModel;
using System.Text.RegularExpressions;

namespace FoundationaLLM.Authorization.Models
{
    /// <summary>
    /// Defines all authorizable actions managed by the FoundationaLLM.Authorization resource provider.
    /// </summary>
    public static class AuthorizableActions
    {
        public static readonly ReadOnlyDictionary<string, AuthorizableAction> Actions = new(
            new Dictionary<string, AuthorizableAction>()
            {
<#
    foreach (var jsonObject in jsonObjects.AsArray())
    {
        foreach (var action in jsonObject["actions"].AsArray())
        {
#>
                {
                    AuthorizableActionNames.<#= action["field_name"] #>,
                    new AuthorizableAction(
                        AuthorizableActionNames.<#= action["field_name"] #>,
                        "<#= action["description"] #>",
                        "<#= jsonObject["category"] #>")
                },
<#
        }
    }
#>
            });

        /// <summary>
        /// Selects all actions whose names match the specified action pattern.
        /// </summary>
        /// <param name="actionPattern">The action pattern used for selection.</param>
        /// <returns>The list of matching action names.</returns>
        public static List<string> GetMatchingActions(string actionPattern)
        {
            var regexPattern = actionPattern
                .Replace(".", "\\.")
                .Replace("/", "\\/")
                .Replace("*", "[a-zA-Z\\/.]*");
            regexPattern = $"^{regexPattern}$";

            return Actions.Values
                .Select(v => v.Name)
                .Where(name => Regex.IsMatch(name, regexPattern))
                .ToList();
        }
    }
}
