azure-appconfiguration-provider==1.2.0
azure-identity==1.17.1
azure-monitor-opentelemetry==1.6.2
azure-monitor-opentelemetry-exporter==1.0.0b28
email-validator==2.2.0
fastapi==0.112.0
pydantic==2.8.2
pylint==3.2.6
tenacity==9.0.0
uvicorn==0.30.5
