# Don't commit the generated Entra ID API files
FoundationaLLM-Authorization-API.json
FoundationaLLM-Core-API.json
FoundationaLLM-Core-Portal.json
FoundationaLLM-Management-API.json
FoundationaLLM-Management-Portal.json