# APIM/OpenAI
{{apimPrivateIp}} {{apimFqdn}}
{{openAiAccountPrivateIp0}} {{openAiAccountFqdn0}}
{{openAiAccountPrivateIp1}} {{openAiAccountFqdn1}}

# App Configuration
{{appConfigPrivateIp}} {{appConfigFqdn}}

# Cognitive Search
{{cognitiveSearchPrivateIp}} {{cognitiveSearchFqdn}}

# Content Safety
{{contentSafetyPrivateIp}} {{contentSafetyFqdn}}

# Cosmos
{{cosmosPrivateIp}} {{cosmosFqdn}}

# Storage Account - OPS
{{storageAccountOpsBlobPrivateIp}} {{storageAccountOpsBlobFqdn}}
{{storageAccountOpsDfsPrivateIp}} {{storageAccountOpsDfsFqdn}}
{{storageAccountOpsFilePrivateIp}} {{storageAccountOpsFileFqdn}}
{{storageAccountOpsQueuePrivateIp}} {{storageAccountOpsQueueFqdn}}
{{storageAccountOpsTablePrivateIp}} {{storageAccountOpsTableFqdn}}

# Storage Account - ADLS
{{storageAccountAdlsBlobPrivateIp}} {{storageAccountAdlsBlobFqdn}}
{{storageAccountAdlsDfsPrivateIp}} {{storageAccountAdlsDfsFqdn}}
{{storageAccountAdlsFilePrivateIp}} {{storageAccountAdlsFileFqdn}}
{{storageAccountAdlsQueuePrivateIp}} {{storageAccountAdlsQueueFqdn}}
{{storageAccountAdlsTablePrivateIp}} {{storageAccountAdlsTableFqdn}}

# OpenAI Key Vault
{{openAiKeyVaultPrivateIp}} {{openAiKeyVaultFqdn}}

# Ops Key Vault
{{opsKeyVaultPrivateIp}} {{opsKeyVaultFqdn}}

# Azure Monitor Private Link Scope
{{amplsPrivateIp}} {{amplsFqdn}}

# AKS
{{aksPrivateIp0}} {{aksFqdn0}}
{{aksPrivateIp1}} {{aksFqdn1}}
